.lightbox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.close-lightbox {
    height: 35px;
    width: 35px;
    background-color: #5f88e0;
    color: #fff;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    display: block;

}

.message {
    background-color: #01143e;
    padding: 40px 15px;
}

.message .message-text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.message .message-text h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

